<div class="container">
  <h1>Current Homebrewing Threads</h1>
  <hr>
   <div class="row">
     <% if current_user.try(:admin?) %>
     <div class="col-md-4">
       <center>
         <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
       </center>
     </div>
     <% end %>
     <div class="col-md-8">
       <% @topics.each do |topic| %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
               <%= link_to topic.name, topic %>
             </h4>
             <small>
               <%= topic.description %>
             </small>
           </div>
         </div>
       <% end %>
     </div>
   </div>
</div>
