<div class="about-container">
    <div class="row">
        <h2>About Homebrew Monks Forum</h2>
        <p>Homebrew Monks is a forum dedicated to Homebrewing with recipes, tips, tricks and advice.</p>
        <p>Give a pint of beer or up-vote for posts that deserve attention.</p>
        <p>Feel free to leave a comment either giving praise or for query on the post.</p>
    </div>
    <hr>
    <div class="row">
        <h3>Guidlines for Homebrew Monks Forum</h3>
    <li>No hate speech, trolling, being rude or offensive material</li>
    <li>Humor posts are allowed please specify with [Humor] at start of post</li>
    <li>Try to help organize our content with labels</li>
    <li>Have fun!</li>
</div>
<hr>
<div class="row">
    <h3>Who Created Homebrew Monks?</h3>
    <p>Homebrew Monks was created by
        <a href="http://rsvision.com">Rob Sturcke</a>
        as a web develoment example as well as a learning experience for himself with Ruby on Rails.</p>
    <p>Look forward to new features being added in the near future!</p>
</div>
<hr>
<div class="row">
    <center>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=94RHDHV4CV38Y" class="btn btn-success">Donate</a>
    </center>
</div>
</div>
