<div class="main-image">
    <div class="splash">
      <%= image_tag('hbmSplash.svg', :alt=> "slider-image", :class=>"splash-logo") %>
    </div>
</div>
<div class="container bubble-bg">
  <div class="page-header">
    <h1 id="timeline">Homebrew Monks Forum</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="icon ion-ios-people"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Connect with others!</h4>
        </div>
        <div class="timeline-body">
          <p>Sign up today and connect with Homebrewers to share ideas and maybe even learn a few new techniques.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="icon ion-beaker"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Share and Learn New Techniques</h4>
        </div>
        <div class="timeline-body">
          <p>Looking for inspiration on your next brew?  Check out the Forum to share or help others improve their brews!</p>
          <p></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="icon ion-android-favorite"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Favorite Posts from Others!</h4>
        </div>
        <div class="timeline-body">
          <p>See a post you like?  Vote up a pint of beer and save it as a favorite to show your appreciation!</p>
        </div>
      </div>
    </li>
  </ul>
</div>
