<div class="container">
  <h1>New Post</h1>
  <div class="col-md-10">
    <div class="row">
      <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
    </div>
  </div>
</diV>
