/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";
  @import "bootstrap-sprockets";
  @import 'ionicons';

 body {
   font-family: 'Source Sans Pro', sans-serif;
   letter-spacing: .1rem;
 }

 .bar-clr {
   height: 5px;
   width: 100%;
   background-color: rgb(76, 79, 104);
 }

 .ion-beer{
   font-size: 2rem;
   vertical-align: center;
 }

 .container {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
 }

 small {
   color: rgb(100, 100, 100);
 }

 .vote-arrows {
   margin-right: 1rem;
 }

 .btn-primary {
   background-color: rgb(76, 79, 104);
 }

 .form-control {
   resize: none;
 }

 .user-info {
   margin-right: 3rem;
 }

 .row {
   width: 100%;
 }

 /* Nav */

.navContainer {
    border-bottom: 1px solid rgb(5, 5, 5);
    border-top: 1px solid rgb(5, 5, 5);
    height: 55px;
}

.navbar-default {
    background-color: rgb(76, 79, 104);
    border: none;
    border-radius: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: rgb(5, 5, 5);
}

.navbar-default .navbar-nav > li > a {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(254, 214, 119);
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(254, 214, 119);
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(254, 214, 119);
    background-color: rgb(254, 214, 119);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: rgb(254, 214, 119);
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(0,0,0, 0);
}
