/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";
  @import "bootstrap-sprockets";
  @import 'ionicons';

 body {
   font-family: 'Source Sans Pro', sans-serif;
 }

 .ion-beer{
   font-size: 2.5rem;
   vertical-align: center;
 }

 .ion-gear-a {
   font-size: 1rem;
   vertical-align: center;
 }

 .container {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
 }

 .form-control {
   resize: none;
 }

 .user-info {
   margin-right: 3rem;
 }

 .row {
   width: 100%;
 }
