// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  a.btn.btn-success,
  a.btn.btn-success:hover,
  .btn, .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus,
  .btn-success[disabled].focus,
  fieldset[disabled] .btn-success.focus {
     background-color: rgb(76, 79, 104);
     border-color: rgb(76, 79, 104);
 }

 h4 > a {
   font-size: 2.5rem;
   color: rgb(76, 79, 104);
 }

 h4 > a:hover {
   text-decoration: none;
   color: rgb(254, 214, 119);
 }

 h4 > a:before {
     content: "";
     position: absolute;
     width: 100%;
     height: 1px;
     bottom: 0;
     left: 0;
     color: rgb(254, 214, 119);
     background-color: rgb(254, 214, 119);
     visibility: hidden;
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
 }

 h4 > a:hover:before {
     visibility: visible;
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
 }
