// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  a.btn.btn-success {
    background-color: rgb(76, 79, 104);
    border-color: rgb(76, 79, 104);
  }

  a.btn.btn-success:hover,
  .btn, .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus,
  .btn-success[disabled].focus,
  fieldset[disabled] .btn-success.focus {
   background-color: rgb(76, 79, 104);
   border-color: rgb(76, 79, 104);
   color: rgb(254, 214, 119);
 }

 a.topic-link {
   color: rgb(76, 79, 104);
 }

 h4 > a {
   font-size: 2.5rem;
   color: rgb(76, 79, 104);
 }

 a.topic-link:hover,
 h4 > a:hover {
   text-decoration: none;
   color: rgb(254, 214, 119);
 }
